* {
  box-sizing: border-box;
}

:root {
  --main-color: #0e1323;
  --sec-color: #f59e0b;
  --text-color: #fff;
  --sec-text-color: #767676;
  // 18 - 16
  --base-font: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  // 20 - 18
  --large-font: clamp(1.5625rem, 1.4538rem + 0.5435vw, 1.875rem);
  // 30 - 25
  --x-large: clamp(1.5rem, 1.1522rem + 1.7391vw, 2.5rem);
  // 16 - 14
  --small: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
  // 12 - 10
  --x-small: clamp(0.625rem, 0.5815rem + 0.2174vw, 0.75rem);
  --radius: 1rem;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--main-color) !important;
  color: var(--text-color) !important;
}
